// zh
.sponsor-text {
  white-space: nowrap;
}
.menu-layer ~ .nav .nav-item {
  font-weight: 500;
}

// en
.locale-0 {
  .nav-item {
    letter-spacing: .05em;
  }
  .tl {
    .tl-1, .tl-2, .tl-3 {
      // vertical-align: top;
    }
    .tl-2.tl-line {
      height: 3em;
      &.tl-long {
        height: 4.5em;
      }
    }
    .tl-3 {
      height: 1em;
      //line-height: 1em;
      // height: 1em;
      //margin-top: -1em;
      // transform: translateY(calc(-50% + .5em));
      // 1 -> 0
      // 2 -> -1
      span {
        display: inline-block;
        margin-top: 0.5em;
        transform: translateY(-50%);
      }
    }
  }
  .content {
    text-align: inherit;
  }
  .faq-box {
    text-align: left;
    font-size: 90%;

    &.expand > div {
      max-height: 400px;
    }
  }
  .sponsor-text {
    font-size: .9em;
    white-space: normal;
  }
}
